<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
     <header>
        <%- include('../partials/navbar') %>
   </header> 
   <main>
        <h1>Edit <%=happy.restaurant%> Info</h1>
            <form action='/happyhours/<%=happy._id%>?_method=PUT' method="POST">
                Restaurant: <input type='text' value='<%=happy.restaurant%>' name='restaurant'><br/>
                Time: <input type='text' value='<%=happy.time%>' name='time'><br/>
                Neighborhood: <input type='text' value='<%=happy.neighborhood%>' name='neighborhood'><br/>
                <input type='submit' value="Submit changes">
            </form>
    </main>
</body>
</html> 